<% include ./partials/header %>

    <h1>Login!</h1>
    
    <form actions="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <Button>Login</Button>
    </form>

<% include ./partials/footer %>